.my-container{
    width: 100%;
    height: 1200px;
        /* background-image: linear-gradient( rgb(96, 48, 187) , rgb(220, 34, 220)); */
}
.container {
    /* background-color: antiquewhite; */
    height: 1100px;
    font-family: 'roboto, sans-serif';
    /* position: absolute;
    top: 5px;
    left: 70px; */
    margin-top: -150px;
}

/* menu */
.container .hd2{
    margin: 0 ;
}
.container .r1 h2{
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(239, 202, 235);
}
.r1 span{
    color: rgb(239, 202, 235);
}
.clr1{
    /* margin: ; */
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* slide */
.container .my-carosel{
    width: 100%;
    height: 550px;
}
/* card */
.container .r3{
    width: 100%;
}
.container .r3 img{
    transition: all 0.6s ease-in;
}
.container .r3 p{
    margin: 0;
    margin: 0.2em 0;
}
.container .r3 img{
    height: 200px;
}
/* title */
.container .title{
    text-align: center;
    text-transform: capitalize;
    color: white;
}
/* end */
.r4{
    /* background-color: darksalmon; */
    text-transform: none;
    color: white;
}
.r4 .pr4{
    margin-top: 8px;
    margin-left: 15px;
}
/* ---------------- */
@media screen and (max-width: 480px) { 
    .container .my-carosel{
        width: 100%;
        height: 40%;
        margin-top: 6px;
        /* box-sizing: border-box; */
    }
    
}

/*  ----------HOVER ------ */
.container .r3 img:hover{
    /* animaton zoom */
    /* neu < 1 thi zoom nho ; >1 thi phong to */
    transform: scale(1.05);
}
/* menu */
.container a:hover{
    color: gainsboro;
    box-sizing: border-box;
}

/* ------------background--------- */
/* br-r1 */
.my-container .br-r1{
    background: rgba(92, 20, 160, 0.2);
}
.my-container .bg-r2{
    background: rgba(92, 20, 160, 0.4);
}
/* bg-cardbody */
.card-body{
    background-image: url('https://wallpapershome.com/images/pages/ico_v/24119.jpeg');
    /* background-color: rgba(192, 92, 235, 0.9); */
    color: white;
}



/* ---------------------- */
body {
    background: linear-gradient(-45deg, #ee7752, #9f2371, #23a6d5, #23d5ab, rgb(126, 24, 222));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /*  */
