.container {
    /* background-color: antiquewhite; */
    height: 1100px;
    font-family: 'roboto, sans-serif';
}

/* menu */
.container .hd2{
    margin: 0 ;
}
.container .r1 h2{
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
    /* color: white; */
}
.r1 span{
    color: white;
}
.clr1{
    
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* slide */
.container .my-carosel{
    width: 100%;
    height: 550px;
}
/* card */
.container .r3{
    width: 100%;
}
.container .r3 img{
    transition: all 0.6s ease-in;
}
.container .r3 p{
    margin: 0;
    margin: 0.2em 0;
}
.container .r3 img{
    height: 200px;
}
/* title */
.container .title{
    text-align: center;
    text-transform: capitalize;
}
/* end */
.r4{
    /* background-color: darksalmon; */
    text-transform: none;
}
.r4 .pr4{
    margin-top: 8px;
}
/* ---------------- */
@media screen and (max-width: 480px) { 
    .container .my-carosel{
        width: 100%;
        height: 40%;
        margin-top: 6px;
        /* box-sizing: border-box; */
    }
    
}

/*  ----------HOVER ------ */
.container .r3 img:hover{
    /* animaton zoom */
    /* neu < 1 thi zoom nho ; >1 thi phong to */
    transform: scale(1.05);
}
/* menu */
.container a:hover{
    color: gainsboro;
    box-sizing: border-box;
}